<html>
<title> Dashboard </title>
<div id="the whole thing" style="float:left; height:100%; width:100%">
    <div id="leftThing" style="float:left; width:25%;">
        <img src="https://www.shareicon.net/twitter-social-media-social-tweet-twitter-bird-media-network-876002/data/256x256/2017/01/24/876002_media_512x512.png">
    </div>
    <div id="content" style="float:left; width:25%;">
        <img src="http://downloadicons.net/sites/default/files/facebook-logo-icon-65850.png">
    </div>
    <div id="rightThing" style="float:left; width:25%;">
        <img src="https://www.shareicon.net/data/256x256/2016/07/13/606926_reddit_4096x4096.png">
    </div>
</div>
</html>​
